@*
// MonoGame - Copyright (C) The MonoGame Team
// This file is subject to the terms and conditions defined in
// file 'LICENSE.txt', which is part of this source code package.
*@
@model SharpDoc.TemplateContext
@using SharpDoc.Model;
@Import("PageHead")
@Import("PageBody")
@helper Dump(string title, string bodyTemplateName)
    {
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
    <head>
    @Helpers.PageHead.Dump(title)
    </head>
	<body onload="onPageLoad('@title | MonoGame', '@Model.Topic.PageId');">
    @Helpers.PageBody.Dump(bodyTemplateName)

    <br />
    <br />

	</body>
</html>                                                                                
}

