@*
// MonoGame - Copyright (C) The MonoGame Team
// This file is subject to the terms and conditions defined in
// file 'LICENSE.txt', which is part of this source code package.
*@
@model SharpDoc.TemplateContext
@using SharpDoc.Model
@Import("PageHead")
@Import("TocBody")

@helper Dump(){
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
    <head>
        @Helpers.PageHead.Dump(Model.RootTopic.PageTitle)
    </head>
	<body>
        @* Initialize splitpane *@
        <script type="text/javascript" language="javascript">
             document.addEvent('domready', function () {
                 SplitPane('toc_content', 'pane_toggle', 'pane_resizer');
             });
        </script>   
	    <div class="sharpdoc">
	        <div id="body">
	            <div id="toc_content" class="toc_content">
	                <div class="inner">
	                    @Helpers.TocBody.Dump()
			    <br />
			    <br />
	                </div>
	            </div>
                <div id="pane_resizer" class="pane_resizer">
	                <div id="pane_toggle" class="collapse" ></div>
	            </div>
                <div id="main_content" class="main_content">
	                @Include("ContentHeader")
	                @Include("MainFrame")
	                @Include("ContentFooter")
                </div>
	        </div>
	    </div>
	</body>
</html>  
}

